* {
  margin: 0;
  padding: 0;
}

/* navbar style */

.navbar {
  width: 100%;
  height: 50px;
  position: sticky;
  box-sizing: border-box;
  /* box-shadow: 2px 3px 5px; */
  background-color: rgb(155, 75, 229);
  top: 0px;
  z-index: 9999;
}

.navbar_links {
  display: flex;
  justify-content: space-between;
  margin: 0 60px 0 60px;
  align-items: center;
}

.links {
  text-decoration: none;
}

.logo {
  color: #fff;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
}

.logo:hover {
  color: aqua;
  transition-duration: 1000ms;
}

.book_text {
  font-size: 12px;
  color: rgb(242, 109, 14);
  margin-left: 5px;
  text-transform: capitalize;
}

.nav_login {
  font-size: 18px;
  font-weight: 500;
  background-color: #fff;
  height: fit-content;
  padding: 0px 10px 2px 10px;
  border-radius: 2px;
  margin-top: 8px;
  text-transform: capitalize;
}

.shop {
  margin-top: 5px;
  list-style: none;
}

.shopping {
  display: inline-block;
  font-size: 30px;
  color: rgb(232, 137, 60);
}

.cartCount {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: white;
  color: brown;
  font-weight: 500;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
}




/* home age & all pages style */

.home,
.poetry,
.history,
.science,
.novel,
.p_graphy,
.b_graphy,
.painting,
.comics,
.politics {
  margin-left: 3px;
  margin-top: 10px;
}

.home_card,
.poetry_card,
.history_card,
.science_card,
.novel_card,
.p_graphy_card,
.b_graphy_card,
.painting_card,
.comics_card,
.politics_card {
  margin: 10px 11px 10px;
  display: inline-block;
  border-radius: 2px;
  height: 250px;
  width: 210px;
  background-color: #fff;
  box-shadow: 1px 2px 2px;
}

.home_card_img,
.poetry_card_img,
.history_card_img,
.science_card_img,
.novel_card_img,
.p_graphy_card_img,
.b_graphy_card_img,
.painting_card_img,
.comics_card_img,
.politics_card_img {
  border-radius: 2px;
  height: 160px;
  width: 210px;
  background-color: rgb(215, 228, 201);
}

.home_card_title,
.poetry_card_title,
.history_card_title,
.science_card_title,
.novel_card_title,
.p_graphy_card_title,
.b_graphy_card_title,
.painting_card_title,
.comics_card_title,
.politics_card_title {
  padding: 5px 10px 5px 10px;
  display: flex;
  font-weight: 500;
  text-transform: capitalize;
  justify-content: space-between;
}

.home_card_price,
.poetry_card_price,
.history_card_price,
.science_card_price,
.novel_card_price,
.p_graphy_card_price,
.b_graphy_card_price,
.painting_card_price,
.comics_card_price,
.politics_card_price {
  padding-left: 10px;
  padding-bottom: 5px;
  font-weight: 500;
  text-transform: capitalize;
}

.home_add_card,
.poetry_add_card,
.history_add_card,
.science_add_card,
.novel_add_card,
.p_graphy_add_card,
.b_graphy_add_card,
.painting_add_card,
.comics_add_card,
.politics_add_card {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  background-color: rgb(155, 75, 229);
}

.home_card_link,
.poetry_card_link,
.history_card_link,
.science_card_link,
.novel_card_link,
.p_graphy_card_link,
.b_graphy_card_link,
.painting_card_link,
.comics_card_link,
.politics_card_link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  text-align: center;
  width: 50%;
  padding: 5px;
  background-color: rgb(155, 75, 229);
}

.home_card_link:hover,
.poetry_card_link:hover,
.history_card_link:hover,
.science_card_link:hover,
.novel_card_link:hover,
.p_graphy_card_link:hover,
.b_graphy_card_link:hover,
.painting_card_link:hover,
.comics_card_link:hover,
.politics_card_link:hover {
  background-color: rgb(204, 77, 18);
}


.home_card_button,
.poetry_card_button,
.history_card_button,
.science_card_button,
.novel_card_button,
.p_graphy_card_button,
.b_graphy_card_button,
.painting_card_button,
.comics_card_button,
.politics_card_button {
  background-color: rgb(155, 75, 229);
  border: none;
  color: #fff;
  font-weight: 700;
  width: 50%;
  text-transform: capitalize;
}

.home_card_button:hover,
.poetry_card_button:hover,
.history_card_button:hover,
.science_card_button:hover,
.novel_card_button:hover,
.p_graphy_card_button:hover,
.b_graphy_card_button:hover,
.painting_card_button:hover,
.comics_card_button:hover,
.politics_card_button:hover {
  background-color: rgb(185, 11, 130);
}




/* search bar style */

.search_input {
  width: 200px;
  padding: 10px 10px 8px 10px;
  border-radius: 2px;
  border: none;
  margin-top: 7px;
}

.search_button {
  background-color: #fff;
  border: none;
  font-size: 16px;
  margin-left: -30px;
  cursor: pointer;
}




/* middleWare style */

.middle_links {
  box-sizing: border-box;
  box-shadow: 1px 3px 5px;
  height: 120px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 20px;
}

.middle_links:hover {
  color: blueviolet;
}

.mid_links {
  text-decoration: none;
}

.mid_links_img {
  height: 70px;
  width: 60px;
  border-radius: 1px;
}

.mid_links_texts {
  margin-top: 10px;
  display: inline;
  justify-content: center;
  color: black;
  font-weight: 500;
  text-transform: capitalize;
  background-color: white;
}

.mid_links_texts:hover {
  color: blueviolet;
}




/* login style here  */

.login {
  margin-top: 10px;
  margin-left: 10px;

}

.login_head {
  width: fit-content;
  display: grid;
  margin-top: 60px;
  margin-left: 150px;
  padding: 30px;
  border-radius: 2px;
  background-color: rgb(155, 75, 229);
}

.login_head_text {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
}

.login_input {
  width: 200px;
  margin-top: 15px;
  padding: 5px;
  border-radius: 2px;
  border: none;
}

.login_button {
  width: 70px;
  margin-top: 30px;
  padding: 3px 5px;
  font-size: 15px;
  font-weight: bold;
  color: black;
  border-radius: 2px;
  background-color: #fff;
  border: solid 1px blueviolet;
  text-transform: capitalize;
}

.login_button:hover {
  background-color: rgb(109, 33, 181);
  color: #fff;
  font-weight: bold;
  border: solid 1px rgb(109, 33, 181);
  text-transform: capitalize;
  border-radius: 2px;
  width: 70px;
  margin-top: 30px;
  padding: 3px 5px;
  font-size: 15px;
}

.signup_link {
  width: fit-content;
  text-decoration: none;
  text-align: center;
  justify-content: right;
  color: #fff;
  font-weight: 500;
  margin-left: 130px;
  margin-top: 40px;
  text-transform: capitalize;
  font-size: 16px;
}

.signup_link:hover {
  color: rgb(23, 7, 247);
}




/* order summery style */

.summery {
  margin-left: 3px;
  margin-top: 10px;
  display: flex;
}

.summery_card1 {
  margin: 10px 11px 10px;
  display: inline-block;
  border-radius: 2px;
  height: 350px;
  width: 310px;
  background-color: #fff;
}

.summery_card1_img {
  border-radius: 2px;
  height: 360px;
  width: 310px;
  background-color: rgb(215, 228, 201);
}

.summery_card1_title {
  padding: 5px 10px 5px 10px;
  display: flex;
  font-weight: 500;
  text-transform: capitalize;
  justify-content: space-between;
}

.summery_card1_price {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  text-transform: capitalize;
}

.summery_add_card1 {
  display: flex;
}

.summery_card1_button1 {
  background-color: rgb(155, 75, 229);
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  width: fit-content;
  border-radius: 2px;
  margin-left: 10px;
  margin-bottom: 30px;
  padding: 5px 10px 5px 10px;
  margin-top: 60px;
  text-transform: capitalize;
}

.summery_card2 {
  width: 500px;
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 2px;
  background-color: rgb(236, 230, 230);
}

.order_detils {
  height: 120px;
  width: 490px;
  margin-top: 20px;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 2px;
  background-color: rgb(242, 234, 234);
}

.summery_card3 {
  margin-top: 10px;
  margin-left: 20px;
  text-transform: uppercase;
}

.add_items {
  font-size: 20px;
  font-weight: 500;
}

.item_increase {
  margin-top: 10px;
  width: 60px;
  border: none;
  padding: 2px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 2px;
  background-color: rgb(155, 75, 229);
}

.item_decrease {
  width: 60px;
  margin-left: 20px;
  border: none;
  padding: 2px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 2px;
  background-color: rgb(155, 75, 229);
}




/* cart style */

.card_page {
  margin-top: 30px;
  margin-left: 20px;
}

.card_summery1 {
  background-color: rgb(244, 244, 243);
  width: fit-content;
  padding: 2px;
  border-radius: 2px;
  display: flex;
  margin-top: 10px;
}

.cart_img {
  width: 60px;
  height: 50px;
  border-radius: 2px;
  background-color: rgb(108, 78, 78);
}

.cart_title {
  margin-top: 10px;
  margin-left: 150px;
  font-size: 20px;
}

.cart_price {
  margin-top: 10px;
  margin-left: 150px;
  font-size: 20px;
}

.item_cart_increase {
  width: 50px;
  height: 25px;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-left: 100px;
  margin-top: 15px;
  background-color: rgb(155, 75, 229);
}


.item_cart_decrease {
  width: 50px;
  height: 25px;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-top: 15px;
  background-color: rgb(155, 75, 229);
}

.item_count {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 12px;
  font-size: 20px;
  height: 22px;
  color: black;
  font-weight: 500;
}

.card_summery2 {
  margin-top: 50px;
  margin-left: 505px;
}

.confirm_order {
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  color: #fff;
  border-radius: 2px;
  background-color: rgb(155, 75, 229);
}